#poll-page, #adventure-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    align-content: space-around;
    justify-content: space-around;
}

#map-container, #adventure-map-container {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

#navbar-header :hover {
    text-decoration: none;
}

#navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
}

#navbar-header {
    padding-top: 20px;
}

#logged-in-navbar, #logged-out-navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

#navbar {
    text-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

#logout {
    max-width: 100px;
}

#user-profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 10px;
    margin: 10px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}

#pod-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    align-content: center;
    align-items: center;
}

.page-body {
    padding: 20px;
}

#user-adventures {
    text-align: center;
}